:root {
  --gray1: #7C99AC;
  --gray2: #92A9BD;
  --gray3: #383838;
  --green: #D3DEDC;
  --pink: #FFEFEF;
}

* {
  font-family: Ubuntu;
  text-align: center;
  margin: 0;
  line-height: 2;
}

nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  margin-top: 0;
  background-color: var(--green);
  font-size: 1.2rem;
  font-weight: 700;
}

.navlink {
  padding: 20px;
  text-decoration: none;
  color: var(--gray1);
}

#about {
  padding-top: 50px;
}

p {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1.8;
  color: var(--gray2);
}

h1 {
  color: var(--gray3);
  font-size: 2.5rem;
}

h2 {
  color: var(--gray3);
  font-size: 2rem;
  padding-bottom: 20px;
}

h3 {
  color: var(--gray1);
  font-size: 1.2rem;
  font-weight: 700;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  border-radius: 100px;
}

img:hover {
  border-radius: 10px;
  border: 5px solid var(--pink);
}

footer {
  background-color: var(--green);
  padding-top: 20px;
  padding-bottom: 20px;
}

footer p {
  color: var(--gray3);
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  margin-left: 0;
  background-image: radial-gradient(var(--green) 20%, transparent 50%);
}

#projects {
  padding-top: 200px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 120vh;
  margin-left: 0;
  background-color: var(--green);
}

.project-container {
  padding: 25px 50px 25px 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-gap: 60px 50px;
  justify-content: center;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  margin-left: 0;
  background-image: radial-gradient(var(--green) 20%, transparent 50%);
}

#contact h1 {
  padding-bottom: 15px;
}

.contact-text {
  padding: 50px 210px;
}

.social {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.social-links {
  padding: 20px;
  text-decoration: none;
  color: var(--gray1);
  font-size: 1.2rem;
  font-weight: 700;
}

h3:hover, .social-links:hover, .navlink:hover {
  text-decoration: overline;
  color: var(--pink);
  font-size: 2rem;
}

@media (max-width: 815px) {
  h1, h2 {
    line-height: 1.2;
    padding-bottom: 30px;
  }

  h3 {
    font-size: 1rem;
  }

  #projects {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .project-container {
    padding: 5px;
    grid-gap: 10px 10px;
  }

  .social-links {
    padding: 15px;
    font-size: 1rem;
  }

  h3:hover, .social-links:hover, .navlink:hover {
    font-size: 1.5rem;
    letter-spacing: 0.5;
    background-image: radial-gradient(var(--green) 60%, transparent 70%);
    border-radius: 20%;
  }

  #welcome-section, #contact {
    background-image: radial-gradient(var(--green) 10%, transparent 40%);
  }

  .contact-text {
    padding: 30px 20px;
  }
}
